
.Line{
    background-color: aliceblue;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    width: 50%;
    height: 40%;
    margin-left: 330px;
}
.Pie{
    display: flex;
    background-color: rgb(161, 206, 245);
    border-radius: 5px;
    margin-top: 50px;
    height: 40%;
    padding: 20px;
    width: 20%;
    margin-left: 330px;
}

.final-container{
    display: flex;
}
