.container {
    display: flex;
    height: 100vh;
    background-color: #F5F5F5;
  }
  
  .black-portion {
    background: hsl(0, 0%, 0%);
    color: rgb(255, 255, 255);
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
  }
  
  .black-portion h1 {
    
    font-family: 'Montserrat', sans-serif;
    font-size: 62px;
    font-weight: 600;
    line-height: 88px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .form-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    text-align: center;
    margin: 0 auto; /* Center the form-box horizontally */
  }
  
  .signin-heading {
    text-align: left;
    margin-bottom: 10px;
  }
  
  .signin-heading h1,
  .signin-heading h6 {
    margin: 2px;
  }
  
  .form-box {
    width: 30%;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto; /* Center the form-box horizontally */
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: auto;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .form-group label {
    font-weight: none;
    text-align: left;
  }
  
  .input-container {
    color: #F5F5F5;
    border: none;
    width: 100%; /* Change width to 100% */
  }
  
  .input-container input {
    background-color: #F5F5F5;
    padding: 6px 5px;
    width: 100%; /* Change width to 100% */
    font-family: 'Lato', sans-serif;
  }
  
  .form input[type="submit"] {
    width: 100%; /* Change width to 100% */
    font-size: 14px;
    padding: 8px 12px;
    align-self: flex-start;
    margin-top: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
  }
  
  .register-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .register-link a {
    font-size: 12px;
    color: blue;
    font-family: 'Lato', sans-serif;
  }
  
  .register-link p {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
  }
  
  .form-container h6 {
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
  }
  